.base-map{
	/*fill: #202020;*/
	fill: green;
	stroke: #E33723;
	stroke-linejoin: round;
	stroke-width: .3px;
}

.route{
	fill: red;
}

svg {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	background: #000000;
}

body{
	background-color: black;
}

#options{
    position: absolute;
    bottom:20%;
    left: 60%;
}

#graph-main {
    background-color: rgba(255, 255, 255, 0.1);
}

#graph-main svg {
    background: rgba(255, 255, 255, 0.9);
    border: none;
}

#stat-graph {
    display: block;
}

#nav {
    width: 200px;
    margin: 0 auto;
}
        
#nav i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    -webkit-transition: all 1.5s; /* Safari */
    transition: all 1.5s;
}

#nav i:hover {
    cursor: pointer;
    -webkit-transform: scale(1.5, 1.5); /* Safari */
    transform: scale(1.5, 1.5);
}

#nav i:first-child{
    float: left;
}

#nav i:last-child{
    float: right;
}

#journey {
    width: 100%;
    margin: 10px auto;
}

#journey ul {
    width: 600px;
    list-style: none outside none;
    list-style-type: none;
    padding: 0;
    margin: auto;
}

#journey li {
    display: inline-block;
    width: 195px;
    padding: 40px 0;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

#journey li:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2, 1.2); /* Safari */
    transform: scale(1.2, 1.2);
}

#journey li img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block
}
        
#journey li span {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #D53402;
    text-transform: uppercase;
}

.clear {
    clear: both;
}

.selected {
    box-shadow: 2px 2px 8px #888888;
    transform: scale(1, 1) !important;
}

.disable {
    opacity: 0.3;
    transform: scale(1, 1) !important;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}