.base-map{
	/*fill: #202020;*/
	fill: green;
	stroke: #E33723;
	stroke-linejoin: round;
	stroke-width: .3px;
}

.route{
	fill: red;
}

svg {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	background: #000000;
}

body{
	background-color: black;
}

#options{
    position: absolute;
    bottom:20%;
    left: 60%;
}

#graph-main {
    width: 600px;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 50px 50px 50px 50px;
    background-color: rgb(255, 255, 255);
}

#graph-main svg {
    background: rgba(255, 255, 255, 0.9);
}

#stat-graph {
    display: block;
    width: 600px;
    height: auto;
}

#nav {
    width: 200px;
    margin: 0 auto;
}
        
#nav i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding: 20px;
    font-weight: bold;
}

#nav i:hover {
    cursor: pointer;
}

#nav i:first-child{
    float: left;
}

#nav i:last-child{
    float: right;
}

#jorney {
    width: 100%;
    margin: 20px auto;
}

#jorney ul, #jorney ul {
    width: 100%;
    list-style: none outside none;
    list-style-type: none;
    padding: 0;
    margin: auto;
}

#jorney li {
    display: inline-block;
    width: 195px;
    height: 50px;
    padding: 50px 0;
}

#jorney li:hover {
    cursor: pointer;
}

#jorney li img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block
}
        
#jorney li span {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #D53402;
    text-transform: uppercase;
}

.clear {
    clear: both;
}

.selected {
    box-shadow: 2px 2px 8px #888888;
}

.disable {
    opacity: 0.3;
}

.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}