.boundary {
	/*fill: #202020;*/
	fill: green;
	stroke: #E33723;
	stroke-linejoin: round;
	stroke-width: .3px;
}

.bici {
	fill: red;
}

svg {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	background: #000000;
}

body{
	background-color: black;
}

#options{
	position: absolute;
	bottom:20%;
	left: 60%;
}